<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Country Explorer</title>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="icon" type="image/x-icon" href="/images/favcon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">

    <!-- SEARCH -->
    <div class="search-container">
      <form action="/" method="POST">
        <input 
          type="text" 
          name="country" 
          placeholder="Your gateway to every country..." 
          required
        >
        <button type="submit">↩</button>
      </form>
    </div>

    <% if (result) { %>
      <div class="flag-container">
        <div class="card">
          <h1><%= result.name.common %></h1>
  
          <img 
            src="<%= result.flags.svg %>" 
            alt="<%= result.flags.alt %>"
            class="flag"
          >

    <span class="currency-symbol">
      <%= Object.values(result.currencies || {})[0]?.symbol || "?" %>
    </span>
      </div>

        <div class="info">
          <p><strong>Capital:</strong> <%= result.capital?.[0] %></p>
          <p><strong>Population:</strong> <%= result.population ? result.population.toLocaleString() : "N/A"%></p>
          <p><strong>Currency:</strong> <%= Object.values(result.currencies || {})[0]?.name || "N/A" %></p>
          <p><strong>Region:</strong> <%= result.region %></p>
        </div>
      </div>
    <% } else if(!result) { %>
      <p class="error"><%= error %><br>😤😮‍💨</p>
    <% } %>

  </div>

  <footer class="footer">
    <p>© <%= new Date().getFullYear() %> Country Explorer | sheyshey.io | picsack.gh</p>
  </footer>

</body>
</html>